.container-div{
  margin-bottom: 100px;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-width: 500px;
}

.button-container-a,
.button-container-b {
  position: absolute;
  bottom: 10px;
  left: 20%; 
}

.button-container-b {
  left: auto;
  right: 20%; 
}



.removeFavoriteMovieButton {
  color: yellow;
}

.favoriteMovieButton {
  color: black;
}