$primary: #47a6ff; // blue
$secondary: #ffd700; // Gold

// @import '~bootstrap/scss/bootstrap.scss';
// @import '/Users/ccc/Documents/Full_Stack_Immersion/Node/movi_api/myflix-client/Untitled/node_modules/bootstrap/scss/bootstrap.scss';

.button-logout {
  padding: 5px;
}

.floating-label-form .Form-group .FloatingLabel {
  margin-bottom: 20px; 
  padding: 5px;
}

.Container {
  margin: 20px; 
  padding: 10px;
}
